<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IServiceProxy" />
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8090/IProxy/Proxy" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IServiceProxy" contract="ServiceReference1.IServiceProxy"
    name="WSHttpBinding_IServiceProxy">
    <identity>
     <userPrincipalName value="NICOLAS\bobca" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>